# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
city_data = "../Weatherpy/city_data.csv"
city_data_df = pd.read_csv(city_data, encoding="ISO-8859-1")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bredasdorp,-34.5322,20.0403,60.67,82,100,6.44,ZA,1666664575
1,1,Busselton,-33.6500,115.3333,63.70,54,64,9.71,AU,1666664565
2,2,Vaini,-21.2000,-175.2000,77.16,57,20,12.66,TO,1666664584
3,3,Bluff,-46.6000,168.3333,57.79,59,0,13.06,NZ,1666664559
4,4,Lavrentiya,65.5833,-171.0000,25.25,67,6,1.23,RU,1666664590

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
gmaps.configure(api_key=g_key)
locations = city_data_df[["Lat", "Lng"]]

hum = city_data_df["Humidity"].astype(float)

In [7]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=hum, dissipating=False, max_intensity=10, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't satisfy all three conditions. You want to be sure the weather is ideal.

condition_temp = city_data_df.loc[(city_data_df["Max Temp"]<80) & (city_data_df["Max Temp"]>70)]
condition_wind = condition_temp.loc[(condition_temp["Wind Speed"]<10)]
condition_cloud = condition_wind.loc[(condition_wind["Cloudiness"] ==0)]
condition_cloud

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
223,223,Salalah,17.0151,54.0924,75.29,73,0,4.61,OM,1666664557
233,233,NizwÃ¡,22.9333,57.5333,71.60,39,0,1.48,OM,1666664688
307,307,Porbandar,21.6422,69.6093,78.44,59,0,5.32,IN,1666664752
408,408,Santa Ana,33.7456,-117.8678,71.35,34,0,6.91,US,1666664375
439,439,Nueva Italia,-25.6167,-57.5000,76.23,81,0,5.55,PY,1666664800
462,462,Arlit,18.7369,7.3853,79.16,26,0,8.03,NE,1666664807
497,497,Sirte,31.2089,16.5887,70.83,71,0,4.09,LY,1666664818
557,557,Empalme,27.9667,-110.8167,78.85,61,0,0.00,MX,1666664842

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
hotel_df = condition_cloud
hotel_df["Hotel Name"] = ""
hotel_df

C:\Users\nico.cosereanu\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
223,223,Salalah,17.0151,54.0924,75.29,73,0,4.61,OM,1666664557,
233,233,NizwÃ¡,22.9333,57.5333,71.60,39,0,1.48,OM,1666664688,
307,307,Porbandar,21.6422,69.6093,78.44,59,0,5.32,IN,1666664752,
408,408,Santa Ana,33.7456,-117.8678,71.35,34,0,6.91,US,1666664375,
439,439,Nueva Italia,-25.6167,-57.5000,76.23,81,0,5.55,PY,1666664800,
462,462,Arlit,18.7369,7.3853,79.16,26,0,8.03,NE,1666664807,
497,497,Sirte,31.2089,16.5887,70.83,71,0,4.09,LY,1666664818,
557,557,Empalme,27.9667,-110.8167,78.85,61,0,0.00,MX,1666664842,

In [10]:
distance = 5000
hotel_type ="lodging"
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


for index, row in hotel_df.iterrows():
    coordinates= hotel_df["Lat"].astype(str) + "," + hotel_df["Lng"].astype(str)
    params = {
        "location": coordinates,
        "radius": distance,
        "type": hotel_type,
        "key": g_key
    }
    response = requests.get(url, params=params).json()
    results = response['results']
    hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
    
hotel_df

C:\Users\nico.cosereanu\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
223,223,Salalah,17.0151,54.0924,75.29,73,0,4.61,OM,1666664557,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
233,233,NizwÃ¡,22.9333,57.5333,71.60,39,0,1.48,OM,1666664688,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
307,307,Porbandar,21.6422,69.6093,78.44,59,0,5.32,IN,1666664752,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
408,408,Santa Ana,33.7456,-117.8678,71.35,34,0,6.91,US,1666664375,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
439,439,Nueva Italia,-25.6167,-57.5000,76.23,81,0,5.55,PY,1666664800,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
462,462,Arlit,18.7369,7.3853,79.16,26,0,8.03,NE,1666664807,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
497,497,Sirte,31.2089,16.5887,70.83,71,0,4.09,LY,1666664818,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
557,557,Empalme,27.9667,-110.8167,78.85,61,0,0.00,MX,1666664842,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map
marker = hotel_df["Humidity"]

# Display figure
hotelfig = gmaps.figure()
hotelfig.add_layer(gmaps.heatmap_layer(locations, weights=marker, max_intensity = 250))
hotelfig.add_layer(gmaps.marker_layer(locations, info_box_content=hotel_info))

hotelfig

Figure(layout=FigureLayout(height='420px'))